# Игнорировать файлы и директории, начинающиеся с "." (скрытые файлы)
.*

# Игнорировать файлы и директории виртуального окружения Python
venv_KC/

# Игнорировать файлы и директории, созданные средой разработки
.idea/

# Игнорировать файл README.md
README.md

# Игнорировать файлы и директории, содержащие временные или локальные данные
__pycache__/